html, body { height: 100%; }

body { background-image: url(../images/full-bloom/full-bloom.png) }

footer { position: sticky; top: 100%; }

a, p, li, footer, label, .form-control {
    font-family: 'Short Stack', cursive;
}

h1, h2, h3, h4, h5, h6 { color: #4aaaa5; }

.nav-item, h1, h2, h3, h4, h5, h6 {
    font-family: 'Berkshire Swash', cursive;
}
.navbar-brand {
    font-family: 'Spirax', cursive;
    font-size: 2em;
}

a { font-size: 1.2em; }

.container { background-color: #ffffff8e; }

.bg-turquoise { background-color: #109ba0; }

.bg-lavendar { background-color: #d2b8fd98; }

.gallery {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.card-img {
    object-fit: cover;
}

.caption {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
}