html, body { height: 100%; }

body { background-image: url(../images/full-bloom/full-bloom.png) }

footer { position: sticky; top: 100%; }

a, p, li, footer, label, .form-control {
    font-family: 'Short Stack', cursive;
}

h1, h2, h3, h4, h5, h6 { color: #04a78e; }

.nav-link, h1, h2, h3, h4, h5, h6 {
    font-family: 'Berkshire Swash', cursive;
}
.navbar-brand {
    font-family: 'Spirax', cursive;
    font-size: 1.8em;
}

.nav-link {
    font-size: 1.2em;
}

.container { background-color: #ffffffcc; }

.bg-turquoise { background-color: #04a78e; }

.bg-lavendar { background-color: #cca8f798; }

.gallery {
    /* this height and padding keeps the .gallery items square without disrupting their responsiveness */
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border: solid 2px #e0e0e0;
}

.gallery:hover {
    border: solid 2px #04a78e;
}

.card-img {
    object-fit: cover;
    min-width: 100%;
}

.card-text {
    /* keep text from breaking words, which is auto in bootstrap */
    overflow-wrap: normal;
}

.caption {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
}

.bio-text {
    font-size: 1.2em;
    border: 5px dotted #cca8f798;
    border-radius: 30px;
}

.hover-summary {
    position: absolute;
    color: #00000000;
    font-size: 1.1em;
}

.hover-summary:hover {
    background-color: #cca8f7dd;
    color: #000000;
}

.project-thumbnail {
    overflow: hidden;
    border: solid 2px #04a78e;
}